<div class="form-group container-fluid">
  <form [formGroup]="causaForm" (ngSubmit)="onSubmit(causaForm)">
    <div class="row col-md-12">
      <div *ngIf="!!causa?.id" class="form-group">
        <label class="col-form-label" for="id">
          Id
        </label>
        <input id="id" formControlName="id" class="form-control input-group" type="text"
        disabled>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="form-group">
        <label class="col-form-label" for="nombre">
          Nombre
        </label>
        <input id="nombre" formControlName="nombre" class="form-control input-group" type="text"
               placeholder="Nombre de la causa">
      </div>
    </div>
    <div class="row float-right form-group mr-2">
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>
