<div class="m-2 p-2">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Mantenedor de causas</h4>
    </div>
    <div class="card-body">
      <div class="card-block">
        <ng-container *ngIf="causas | async as $causas">
          <ng-container *ngIf="$causas && $causas.length > 0">
            <table class="table">
              <thead>
              <th>Id</th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th class="text-center">Acciones</th>
              </thead>
              <tbody>
              <tr *ngFor="let causa of causas | async">
                <td>{{causa.id}}</td>
                <td>{{causa.nombre}}</td>
                <td>{{causa.fechaCreacion}}</td>
                <td class="text-center">
                  <button type="button" class="btn btn-sm btn-primary mr-1" (click)="editar(causa)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger mr-1"
                          (click)="eliminar(causa)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-container *ngIf="!$causas || $causas.length == 0">
            <div class="alert alert-danger">
              No hay causas
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="card-footer">
      <div class="row float-right pr-2">
        <button type="button" class="btn btn-success" (click)="agregar()">
          <i class="fas fa-plus mr-1"></i>Agregar Causa
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #modalAgregar>
  <div class="modal-header">
    <h4 *ngIf="selectedCausa && selectedCausa.id" class="modal-title">Editar causa</h4>
    <h4 *ngIf="!selectedCausa || !selectedCausa.id" class="modal-title">Agregar causa</h4>
  </div>
  <div class="modal-content">
    <app-agregar [causa]="selectedCausa" (cerrarModal)="cerrarModal($event)"></app-agregar>
  </div>
</ng-template>
